.hide {
    display: none;
}

#login-wrapper .links div,
#login-wrapper #login-form {
    display: inline;
}

#login-wrapper #login-error {
    display: block;
}

#register-wrapper th {
    text-align: right;
}
