!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta( http-equiv="X-UA-Compatible" content="chrome=1" )
    %title King of the Hill
    %link{:href => "images/favicon.png", :rel => "icon", :type => "image/png"}
    /%link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/jquery-ui-1.8.14.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/koth.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}

  %body
    %ul#msg
    #login-wrapper
      #not-logged-in.hide
        .links
          #login-link
            %a( href="javascript: KOTH.toggle_login();" ) Login
          |
          #register-link
            %a( href="javascript: KOTH.toggle_register();" ) Register
        #login-form-wrapper.hide
          %form#login-form( action="javascript:;" )
            %label( for="username" ) Email Address:
            %input( name="username" id="username" )
            %label( for="password" ) Password:
            %input( name="password" id="password" type="password" )
            %button#login-button.button( type="submit" ) Login
          %button#login-cancel.button( onclick="javascript:KOTH.toggle_login();") Close
          #login-error
      #logged-in.links.hide
        Welcome,
        %span#welcome
        |
        #logout-link
          %a( href="javascript: KOTH.logout();" ) Log out

    #register-wrapper.hide
      %h2 Register for KOTH
      %form#register-form( action="javascript:;" )
        %table
          %tr
            %th
              %label( for="register_username" ) Email Address:
            %td
              %input( name="register_username" id="register_username" size="50" class="required email" )
          %tr
            %th
              %label( for="register_password1" ) Password:
            %td
              %input( name="register_password1" id="register_password1" type="password" class="required" )
          %tr
            %th
              %label( for="register_password2" ) Password (again):
            %td
              %input( name="register_password2" id="register_password2" type="password" class="required" )
          %tr
            %th
              %label( for="register_first" ) First Name:
            %td
              %input( name="register_first" id="register_first" class="required" )
          %tr
            %th
              %label( for="register_last" ) Last Name:
            %td
              %input( name="register_last" id="register_last" class="required" )
          %tr
            %th
              %label( for="register_timezone" ) Timezone:
            %td
              %select( name="register_timezone" id="register_timezone" class="required" )
                %option
                %option( value="-5.00" ) Eastern (-5.00)
                %option( value="-6.00" ) Central (-6.00)
                %option( value="-7.00" ) Mountain (-7.00)
                %option( value="-8.00" ) Pacific (-8.00)
        %input( name="register_profile" id="register_profile" hidden )
        %button#register-button.button( type="submit" ) Register
        %button#register-cancel.button( onclick="javascript:KOTH.toggle_register();") Close
        %p.required All fields required
      #register-error
      #register-success.hide
        %p You have successfully been registered for KOTH.  You should receive an email with a confirmation link.  Click the link and your account will be activated.
        %p After your account is activated, a wizard will guide you through setting up your user's Entries as well as making Picks.

    #landing-wrapper.hide
      %h2 Welcome to KOTH
      %p KOTH (King of the Hill) is an NFL Pick'em / Survivor game.  You pick one team to win each week.  If they win, you go on, if they lose or tie, you are out.  The last entry standing is King of the Hill.
      %p To participate in this year's KOTH game, please register by following the 'Register' link above.  If you have already registered with the site, please login by following the 'Login' link above.

    #koth-wrapper.hide
      #dashboard
      #results
      #picks

    /%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js", :type => "text/javascript"}
    /%script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "js/jquery-1.6.2-min.js", :type => "text/javascript"}
    %script{:src => "js/jquery-ui-1.8.14-min.js", :type => "text/javascript"}
    %script{:src => "js/jquery-validate-1.8.1-min.js", :type => "text/javascript"}
    %script{:src => "js/auth.js", :type => "text/javascript"}
    %script{:src => "js/base64.js", :type => "text/javascript"}
    %script{:src => "js/koth.js", :type => "text/javascript"}
